WPFAppLogging/Connected Services/CIAService/CiaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CiaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ICiaService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44356/CiaService.svc?xsd=xsd0" namespace="http://nlog-project.org/ws/" />
      <xsd:import schemaLocation="https://localhost:44356/CiaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44356/CiaService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44356/CiaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CIAService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICiaService_ProcessLogMessages_InputMessage">
    <wsdl:part xmlns:q1="http://nlog-project.org/ws/" name="parameters" element="q1:ProcessLogMessages" />
  </wsdl:message>
  <wsdl:message name="ICiaService_ProcessLogMessages_OutputMessage">
    <wsdl:part xmlns:q2="http://nlog-project.org/ws/" name="parameters" element="q2:ProcessLogMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ICiaService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICiaService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICiaService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ICiaService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ICiaService">
    <wsdl:operation name="ProcessLogMessages">
      <wsdl:input wsaw:Action="http://nlog-project.org/ws/ILogReceiverServer/ProcessLogMessages" message="tns:ICiaService_ProcessLogMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://nlog-project.org/ws/ILogReceiverServer/ProcessLogMessagesResponse" message="tns:ICiaService_ProcessLogMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICiaService/GetData" message="tns:ICiaService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICiaService/GetDataResponse" message="tns:ICiaService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICiaService/GetDataUsingDataContract" message="tns:ICiaService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICiaService/GetDataUsingDataContractResponse" message="tns:ICiaService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_ICiaService" type="tns:ICiaService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ICiaService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessLogMessages">
      <soap:operation soapAction="http://nlog-project.org/ws/ILogReceiverServer/ProcessLogMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICiaService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ICiaService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CiaService">
    <wsdl:port name="BasicHttpsBinding_ICiaService" binding="tns:BasicHttpsBinding_ICiaService">
      <soap:address location="https://localhost:44356/CiaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>